$linkColor: hsl(168, 100%, 80%);
$linkColorActive: hsl(21, 76%, 70%);

*{
	margin: 0;
	padding: 0;
	min-width: 0;
	min-height: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	outline: none;
	font-size: 0.45cm;
}

html{
	background-color: black;
}

button{
	user-select: none;
}

button:hover{
	cursor: pointer;
}

.taskText > a{
	color: $linkColor;
}

.taskText a:active{
	color: $linkColorActive;
}

::-webkit-scrollbar{
    width: 0.04cm;
    height: 0.04cm;
    margin: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(111, 111, 111);
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-button {
    display: none;
}